body {
    text-align: center;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.margins {

    margin-top: 12px;
}